<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewPatientSummaryServlet</servlet-name>
    <servlet-class>com.servlet.ViewPatientSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPatientSummaryServlet</servlet-name>
    <url-pattern>/view_patient_summary_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchPatientServlet</servlet-name>
    <servlet-class>com.servlet.SearchPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPatientServlet</servlet-name>
    <url-pattern>/search_patient_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createDocumentServlet</servlet-name>
    <servlet-class>com.servlet.CreateDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createDocumentServlet</servlet-name>
    <url-pattern>/create_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.CreateActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createActionPlanServlet</servlet-name>
    <url-pattern>/create_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveDocumentServlet</servlet-name>
    <servlet-class>com.servlet.SaveDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveDocumentServlet</servlet-name>
    <url-pattern>/save_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editDocumentServlet</servlet-name>
    <servlet-class>com.servlet.EditDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editDocumentServlet</servlet-name>
    <url-pattern>/edit_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.ViewActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewActionPlanServlet</servlet-name>
    <url-pattern>/view_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signDocumentServlet</servlet-name>
    <servlet-class>com.servlet.SignDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signDocumentServlet</servlet-name>
    <url-pattern>/sign_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.SaveActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveActionPlanServlet</servlet-name>
    <url-pattern>/save_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login_page.jsp</welcome-file>
  </welcome-file-list>
</web-app>