<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewPatientSummaryServlet</servlet-name>
    <servlet-class>com.servlet.ViewPatientSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPatientSummaryServlet</servlet-name>
    <url-pattern>/view_patient_summary_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchPatientServlet</servlet-name>
    <servlet-class>com.servlet.SearchPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPatientServlet</servlet-name>
    <url-pattern>/search_patient_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createDocumentServlet</servlet-name>
    <servlet-class>com.servlet.CreateDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createDocumentServlet</servlet-name>
    <url-pattern>/create_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.CreateActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createActionPlanServlet</servlet-name>
    <url-pattern>/create_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveDocumentServlet</servlet-name>
    <servlet-class>com.servlet.SaveDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveDocumentServlet</servlet-name>
    <url-pattern>/save_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editDocumentServlet</servlet-name>
    <servlet-class>com.servlet.EditDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editDocumentServlet</servlet-name>
    <url-pattern>/edit_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.EditActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editActionPlanServlet</servlet-name>
    <url-pattern>/edit_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signDocumentServlet</servlet-name>
    <servlet-class>com.servlet.SignDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signDocumentServlet</servlet-name>
    <url-pattern>/sign_document_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveActionPlanServlet</servlet-name>
    <servlet-class>com.servlet.SaveActionPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveActionPlanServlet</servlet-name>
    <url-pattern>/save_action_plan_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addActionEntryServlet</servlet-name>
    <servlet-class>com.servlet.AddActionEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addActionEntryServlet</servlet-name>
    <url-pattern>/add_action_entry_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accountManagementServlet</servlet-name>
    <servlet-class>com.servlet.AccountManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountManagementServlet</servlet-name>
    <url-pattern>/account_management_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>patientManagementServlet</servlet-name>
    <servlet-class>com.servlet.PatientManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientManagementServlet</servlet-name>
    <url-pattern>/patient_management_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>templateManagementServlet</servlet-name>
    <servlet-class>com.servlet.TemplateManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>templateManagementServlet</servlet-name>
    <url-pattern>/template_management_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>documentManagementServlet</servlet-name>
    <servlet-class>com.servlet.DocumentManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>documentManagementServlet</servlet-name>
    <url-pattern>/document_management_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actionPlanManagementServlet</servlet-name>
    <servlet-class>com.servlet.ActionPlanManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionPlanManagementServlet</servlet-name>
    <url-pattern>/action_plan_management_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAccountServlet</servlet-name>
    <servlet-class>com.servlet.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAccountServlet</servlet-name>
    <url-pattern>/edit_account_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveAccountServlet</servlet-name>
    <servlet-class>com.servlet.SaveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveAccountServlet</servlet-name>
    <url-pattern>/save_account_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createAccountServlet</servlet-name>
    <servlet-class>com.servlet.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccountServlet</servlet-name>
    <url-pattern>/create_account_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editPatientServlet</servlet-name>
    <servlet-class>com.servlet.EditPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPatientServlet</servlet-name>
    <url-pattern>/edit_patient_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>savePatientInfoServlet</servlet-name>
    <servlet-class>com.servlet.SavePatientInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savePatientInfoServlet</servlet-name>
    <url-pattern>/save_patientInfo_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createPatientServlet</servlet-name>
    <servlet-class>com.servlet.CreatePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createPatientServlet</servlet-name>
    <url-pattern>/create_patient_servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login_page.jsp</welcome-file>
  </welcome-file-list>
</web-app>