@CHARSET "UTF-8";

.picLUp{
	 background:url("login_bg2.jpg") no-repeat;
  	  width:100%;
 	  height:100%;
 	  padding:0;
 	  margin:0;
 	  background-size:100%, 100%;
 	   
}
.picLUp1{
	 width:100%;
 	  height:100%;
 	   padding:0;
 	   margin:0;
 	   background-size:100%, 100%;
 	   }
.picLUp2{
	 background:url("bgd_folder_icon3.png") no-repeat;
  	 background-color:#9dee5eb;
  	 padding:0;
 	 margin:0;
 	 background-size:100%, 100%;
}
 	 
.graybgd{
	background-color:#97b9b8;
	width:100%;
 	height:100%;
 	padding:0;
 	margin:0;
    background-size:100%, 100%;
}

.grayblue{
	  background-color:#649195;
  	  width:100%;
 	  height:100%;
 	  padding:0;
 	  margin:0;
 	  background-size:100%, 100%;
}
.black2{
	background:url("bgd_black_opacity40.png") no-repeat;
    height:100%;
    width:80%;
    padding:0;
    margin:0%;
    background-size:100%, 100%;
}

.container{
	padding:0px;
	margin:0px;
    width:100%;
    background:url("bgd_folder.png") no-repeat;
    background-size:100%, 100%;
}

.banner2{
	height:60px;
    width:100%;
	padding:0px;
	margin:0px;
	background-size: contain;
    background:url("bgd_banner3	.png");
    position:fixed;	
	top:0;
}

.header{
	padding:30px;
	margin:0;
	margin-bottom:20px;
	width:100%;
    height:100px;
    background:#649195;
    padding:0px;
    margin:0px;
    position:fixed;	
    top:60px; 
}

.summary_banner{
	 background:url("border_green.png") no-repeat;
 	   padding:0;
 	   background-size:100%, 100%;
 	   position:fixed;
 	   width:100%;
 	   margin-top:10px;
}

.nav_bar{
	position:fixed;
	float:left;
	width: 270px;
	top: 160px;
} 

.body_header{
	position:fixed;
	background:#e5e8d4;
	width:100%;
	height: 100px;
	left:334px;
	top: 160px;
	box-shadow:2px 5px 10px #6f8788;
} 

.body_div{
	padding:0;
	margin:0;
	/*width:100%;*/
    margin-top: 260px;
    margin-left: 335px;
    background: white;
}


