@CHARSET "UTF-8";
.part_cell{
	BORDER:0 ;
	cellspacing:1 ;
	
	
}

.border_upAndBottom{
    border-top: 1px;
    border-top-color: gray;
    border-bottom: 1px;
    border-bottom-color:gray;
}
.border2{
	width:"100%";
	 cellspacing:"0";
	 cellpadding:"0";
}
<!--style="border-top-color:#99acbd; 
			border-top:1px; 
			border-bottom:1px"
			
			#f9faf5-->