@CHARSET "UTF-8";

#Container{
	padding:0px;
	margin:0px;
    width:100%;
}
#Header{
    height:80px;
    background:#093;
    padding:0px;margin:0px;
}
#logo{
    padding-left:50px;
    padding-top:20px;
    padding-bottom:50px;
}
#Content{
    height:500px;
    margin-top:20px;
    padding:0px;

     
}
#Content-Left{
    height:80%;
    width:40%;
    margin:2%;
    float:left;

	
}


#Content-Main{
	background:url("bgd_black_opacity40.png") no-repeat;
    height:100%;
    width:80%;
    padding:0;
    margin:0%;
    background-size:100%, 100%;
}
#Footer{
    height:40px;
    position: absolute;
    bottom: 0;
}
.Clear{
    clear:both;
}

}