@CHARSET "UTF-8";

.topandbottom{
	border-top:2px solid #2d5554 ;
	border-bottom:2px solid #2d5554 ;
	} 
.bottomwhite{
	border-bottom:2px solid white ;
	}
.whiteborder{
	border:2px double white;
	margin:2px;
	}
	
.green1{
	padding:0px;margin:0px;
	background-color:#448684;
	whidth = 100%;
	height = 40px;
	border-top:1px solid #448684 ;
	border-bottom:1px  solid #448684 ;
	}
	
.black1{
	background-color:black;
	opacity:40;
	border-top:1px solid #448684 ;
	border-bottom:1px  solid #448684 ;
	}
.backgroundwhite{
	padding:0px;
	margin: -1px;
	background-color:white;
	whidth : 100%;
	height :30px;
	background-size: cover;
	}
.center_div{
	whidth : 80%;
	height :100%;
	
	}


.content_main{
	align:center;
	background:url("bgd_black_opacity40.png");
    height:100%;
    width:80%;
    padding:0;
    margin:0%;
    }
    
.main_table{
	cellspacing:0;
	width:100%;
	height:100%;
    padding:0;
    margin:0%;
    background-size:100%, 100%;
    
}

.main_banner{
	width:100%;
	height:100%;
    padding:0;
    margin:0%;
    background-size:100%, 100%;
    
}

.main_body{
	width:100%;
	height:100%;
    padding:0;
    margin:0%;
	background:url("bgd_body.png")no-repeat;
	background-size:100%, 100%;
}

.body_general{
	width:100%;
	height:100%;
    padding:0;
    margin:0%;
    background-size:100%, 100%;
}
.hidden_above{
	height:300px;
}
.hidden_above2{
	height:150px;
}
.hidden_above3{
	height:50px;
}
.hidden_above60{
	height:60px;
	width:100%;
	position:fixed;
}
.shadow_div{
width:250px;height:auto;border:#909090 1px solid;background:#fff;color:#333;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;
-webkit-box-shadow: 2px 2px 10px #909090;
box-shadow:2px 2px 10px #909090;
}

.no_margin{
	height:30px;
	margin-top:0;
	margin-bottom:0;
}
.summary_shaddow_header{
	position:fixed;
	background:#e5e8d4;
	width:100%; 
	margin-top:10px;
	box-shadow:2px 2px 10px #909090;
}









