@CHARSET "UTF-8";
<!--for action plan -->
.tr1_td1{
	font-family:Arial; 
	font-size:30px;
	margin-top:0px;
	margin-bottom:0;
	align:center;
	/*width:50px;*/
}
.tr1_td2{
	font-family:Arial; 
	font-size:23px;
	margin-top:0px;
	margin-bottom:0;
	align:center;
	/*width:30%;*/
}
.tr1_td3{
	font-family:Arial; 
	font-size:15px;
	margin-top:0px;
	margin-bottom:0;
	align:center;
	/*width:10%;*/
}
.tr1_td4{
	font-family:Arial; 
	font-size:30px;
	margin-top:0px;
	margin-bottom:0;
	align:center;
	/*width:25%;*/
}
.tr1_td5{
	font-family:Arial; 
	font-size:30px;
	margin-top:0px;
	margin-bottom:0;
	align:center;
	width:25%;
}