@CHARSET "UTF-8";

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 180px;
	background-color: #73ada7;
}@CHARSET "UTF-8";

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 180px;
	
}

li a {
	display: block;
	height: 40px;
	background-color:#73ada7;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	width:250px;
	border:#559baa 1px solid;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);
	-moz-box-shadow: 0px 5px 10px #4e6f7e;
	-webkit-box-shadow: 0px 5px 10px #4e6f7e;
	box-shadow:0px 5px 10px #4e6f7e;
	<!--#909090-->
}

li a.active {
	background-color: #559baa;
	color: white;
}

li a:hover:not (.active ) {
	background-color: #555;
	color: white;
}
<!--
body {
	background-color: #8caec9;
}
-->
.width_for_2{
	width: 50px;
}

.sublist {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	width: 170px;
	background-color: #f1f1f1;
}


.sublist_collapse {
	display:none;
	list-style-type: none;
	margin: 10px;
	padding: 0;
	width: 170px;
	background-color: #f1f1f1;
}

.vertical {
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
}

.fixed_width_for_parts {
	width: 900px;
}


li a.active_i {
	background-color: #9ca0a0;
	color: white;
}

li a:hover:not (.active ) {
	background-color: #555;
	color: white;
}

body {
	background-color: #8caec9;
}

.width_for_2{
	width: 50px;
}

.vertical {
  -ms-transform:rotate(270deg); /* IE 9 */
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
  -o-transform:rotate(270deg); /* Opera */
}

.fixed_width_for_parts {
	width: 900px;
}
